:root {
  --blackberry: #5b408e;
  --strawberry: #f94b6c;
  --mango: #ffb703;
  --lime: #8adf72;
  --mint: #00d2c1;
  --white: white;
  --border-color: #dfdfdf;
  --border-radius-circle: 50%;
  --border-radius-rounded: 0.5rem;
  --transition-speed: 200ms;
  --avatar-height: 16rem;
  --avatar-width: 16rem;
  --swatch-size: 8rem;
  --avatar-background: var(--white);
  --avatar-primary: var(--lime);
  --avatar-secondary: var(--mint);
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  display: block;
  max-width: 50rem;
  margin: 0 auto;
}

.App-header {
  background-color: #ebebeb;
  border-radius: var(--border-radius-rounded);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.Avatar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Avatar {
  background-color: var(--avatar-background);
  border: 6px solid var(--border-color);
  border-radius: var(--border-radius-circle);
  height: var(--avatar-height);
  flex: 0 0 var(--avatar-width);
  margin-right: 1rem;
  overflow: hidden;
  transition: all var(--transition-speed) ease-in-out;
  width: var(--avatar-width);
}

.Avatar--flip {
  transform: scale(-1, 1);
  transition: all var(--transition-speed) ease-in-out;
}

.Avatar svg {
  height: 100%;
  width: 100%;
}

.Avatar--party svg {
  animation: pulse 500ms ease-in-out infinite;
}

@keyframes pulse {
  0%,
  37.5%,
  to {
    transform: scale(1)
  }
  12.5%,
  25% {
    transform: scale(1.2)
  }
}

.Avatar polygon,
.Avatar polyline,
.Avatar path {
  transition: all calc(var(--transition-speed) * 2) ease-in-out;
}

.Swatch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: var(--swatch-size);
}

.Swatch-option {
  align-items: center;
  border: 2px solid var(--border-color);
  background: var(--swatch-background);
  border-radius: var(--border-radius-rounded);
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  flex: 0 1 calc(calc(100% / 3) - 1px);
  height: calc(var(--swatch-size) / 3);
  justify-content: center;
  margin-bottom: 2px;
  transition: all var(--transition-speed) ease-in-out;
}

.Swatch-blackberry {
  background: var(--blackberry);
}

.Swatch-strawberry {
  background: var(--strawberry);
}

.Swatch-mango {
  background: var(--mango);
}

.Swatch-lime {
  background: var(--lime);
}

.Swatch-mint {
  background: var(--mint);
}

.Swatch-white {
  background: var(--white);
}

.Control {
  margin-right: 1rem;
}

.Control-header {
  margin: 0 0 0.5rem;
}

.Control-item {
  margin-bottom: 0.5rem;
}

.Control-item:last-of-type {
  margin-bottom: 1rem;
}

.primary {
  fill: var(--avatar-primary);
  transition: all var(--transition-speed) ease-in-out;
}

.secondary {
  fill: var(--avatar-secondary);
  transition: all var(--transition-speed) ease-in-out;
}

.Eyebrow-left {
  transform-origin: 15% 30%;
}

.Avatar--leftEyebrow .Eyebrow-left {
  animation: raiseLeft 2s ease infinite;
}

@keyframes raiseLeft {
  0%,
  37.5%,
  to {
    transform: rotate(0)
  }
  12.5%,
  25% {
    transform: rotate(-25deg)
  }
}

.Eyebrow-right {
  transform-origin: 40% 30%;
}

.Avatar--rightEyebrow .Eyebrow-right {
  animation: raiseRight 2s ease infinite;
}

@keyframes raiseRight {
  0%,
  37.5%,
  to {
    transform: rotate(0)
  }
  12.5%,
  25% {
    transform: rotate(25deg)
  }
}

.Button {
  font-size: 1.1rem;
  border-radius: 0.2rem;
  padding: 0.25rem 1rem;
}
